* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.jumbotron {
    text-align: center;
    text-decoration: underline;
    background-color: rgb(13, 92, 228);
    justify-content: center;
    padding:50px;
    display:block;
    text-decoration-color: black;
}

.manager-card {
    border-radius: 25px;
    border-color:black;
    border-width: 10px;
    text-align: center;
    margin:30px;
    text-align: start;
}
.card-header{
    background-color: blue;
    border-radius: 25px;
}
.card-title{
    font-size: 50px;
}

.card-text{
    font-size: 30px;
}

.intern-card {
    border-radius: 25px;
    border-color:black;
    border-width: 10px;
    text-align: center;
    margin:30px;
    text-align: start;
}

.engineer-card {
    border-radius: 25px;
    border-color:black;
    border-width: 10px;
    text-align: center;
    margin:30px;
    text-align: start;
}